<div>
  {# copy from hexo-theme-next@8.24.1/node_modules/hexo-theme-next/layout/_partials/footer.njk
     because I want list multiple beian in a row, but stock theme won't allow me to do that,
     so I 'disable' beian section in config file and paste my div at the footer bottom.
   #}
  <div class="beian">
    {{- next_url('https://beian.miit.gov.cn', theme.footer.beian.icp) }}
    | <img src="{{ url_for(theme.footer.beian.gongan_icon_url) }}" alt="公安备案图标" id="gongan-beian-icon" height="16px" />
    {{- next_url('https://beian.mps.gov.cn/#/query/webSearch?code=' + theme.footer.beian.gongan_id, theme.footer.beian.gongan_num) }}
    | <a href="https://icp.gov.moe/?keyword=20252677" target="_blank">萌ICP备20252677号</a>
  </div>
</div>