{#
  Load JetBrains Maple Mono 
  https://fonts.zeoseven.com/items/521/
 #}
<link rel="preload" as="style" crossorigin
  href="https://fontsapi.zeoseven.com/521/main/result.css"
  onload="this.rel='stylesheet'"
  onerror="this.href='https://fontsapi-storage.zeoseven.com/521/main/result.css'" />
<noscript>
  <link rel="stylesheet" href="https://fontsapi.zeoseven.com/521/main/result.css" />
</noscript>

{#
  Load MiSans
  https://www.jsdelivr.com/package/npm/misans-webfont
 #}
<link rel="preload" as="style" crossorigin
  href="https://cdn.jsdelivr.net/npm/misans-webfont/misans/misans-regular/result.min.css"
  onload="this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/misans-webfont/misans/misans-regular/result.min.css" />
</noscript>

{#
  Load Font Awesome in SVG + JS form. see 'vendors' section in _config.next.yml
  https://www.jsdelivr.com/package/npm/@fortawesome/fontawesome-free
 #}
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/js/solid.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/js/brands.min.js"></script>