{# 
  Umami Analytics
  hexo-theme-next@8.24.1/layout/_third-party/analytics/umami.njk

  config.host is set in scripts/next-injects.js
 #}
<script async defer 
  data-website-id="{{ theme.umami.website_id }}"
  data-do-not-track="true"
  data-domains="{{ config.host }}"
  data-host-url="{{ theme.umami.host_url }}"
  src="{{ theme.umami.script_url }}"
></script>

{#
  Load JetBrains Maple Mono
  https://fonts.zeoseven.com/items/521/
 #}
<link rel="stylesheet" crossorigin
  href="https://fontsapi.zeoseven.com/521/main/result.css"
  media="print" onload="this.onload=null;this.media='all'" />
<link rel="stylesheet" crossorigin
  href="https://fontsapi.zeoseven.com/521/bold/result.css"
  media="print" onload="this.onload=null;this.media='all'" />

{#
  Load MiSans
  https://npmmirror.com/package/misans
  mobeicanyue/misans-webfont 会优先加载 local 版本导致粗体失效，改用 misans-vf
  使用 jsdelivr CDN 会拖慢其他资源下载速度，改用 npmmirror CDN 优化中国大陆访问
  而 misans-vf 由不在 npmmirror 的白名单里，换成 misans
  onload technique used here is suggested by https://web.dev/articles/defer-non-critical-css
 #}
<link rel="stylesheet" crossorigin
  href="https://registry.npmmirror.com/misans/4.1.0/files/lib/Normal/MiSans-Medium.min.css"
  media="print" onload="this.onload=null;this.media='all'" />
<link rel="stylesheet" crossorigin
  href="https://registry.npmmirror.com/misans/4.1.0/files/lib/Normal/MiSans-Bold.min.css"
  media="print" onload="this.onload=null;this.media='all'" />

{#
  Preload Font Awesome
 #}
<link rel="preload" href="https://registry.npmmirror.com/@fortawesome/fontawesome-free/7.0.0/files/webfonts/fa-regular-400.woff2" as="font" crossorigin>
<link rel="preload" href="https://registry.npmmirror.com/@fortawesome/fontawesome-free/7.0.0/files/webfonts/fa-brands-400.woff2" as="font" crossorigin>
<link rel="preload" href="https://registry.npmmirror.com/@fortawesome/fontawesome-free/7.0.0/files/webfonts/fa-solid-900.woff2" as="font" crossorigin>
