{# 
  Umami Analytics
  hexo-theme-next@8.24.1/layout/_third-party/analytics/umami.njk

  config.host is set in scripts/next-injects.js
 #}
<script async defer 
  data-website-id="{{ theme.umami.website_id }}"
  data-do-not-track="true"
  data-domains="{{ config.host }}"
  data-host-url="{{ theme.umami.host_url }}"
  src="{{ theme.umami.script_url }}"
></script>

{#
  Load JetBrains Mono 
  https://www.jsdelivr.com/package/npm/jetbrains-mono
  onload technique used here is suggested by https://web.dev/articles/defer-non-critical-css
 #}
<link rel="preload" as="style" crossorigin
  href="https://cdn.jsdelivr.net/npm/jetbrains-mono/css/jetbrains-mono.min.css"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jetbrains-mono/css/jetbrains-mono.min.css">
</noscript>

{#
  Load MiSans
  https://www.npmjs.com/package/misans-vf
  mobeicanyue/misans-webfont 会优先加载 local 版本导致粗体失效，改用 misans-vf
 #}
<link rel="preload" as="style" crossorigin
  href="https://cdn.jsdelivr.net/npm/misans-vf@1.0.0/lib/MiSans.min.css"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/misans-vf@1.0.0/lib/MiSans.min.css" />
</noscript>

{#
  Preload Font Awesome
 #}
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/webfonts/fa-regular-400.woff2" as="font" crossorigin>
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/webfonts/fa-brands-400.woff2" as="font" crossorigin>
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/webfonts/fa-solid-900.woff2" as="font" crossorigin>
