// 在夜间模式的浏览器中会 Disqus 选择到 color-scheme: dark，
// 这个模式下它的 iframe 背景色和网页的背景色不一致，大概在 #121212
// 这段强制让它采用透明背景，需要结合 Disqus 后台设置 Color Schema 为 Auto 
// 才能让输入框和文字的颜色也匹配。
// 不过还有个问题是中途切换色彩主题得刷新页面才生效，问题不大。
#disqus_thread {
  color-scheme: auto;
}

// 删除侧边栏 links 区域的链接下划线
// 因为我这里展示的都是图片
.links-of-blogroll-item a {
  border-bottom: 0;
}

// footer.njk 里加的公安备案图标
#gongan-beian-icon {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

// 此 SVG 图标颜色支持在夜间模式下反色显示
@media (prefers-color-scheme: dark) {
  .dark-mode-invert-svg {
    filter: invert(1);
  }
}
@media (prefers-color-scheme: light) {
  .light-mode-invert-svg {
    filter: invert(1);
  }
}

// 主题默认 font-weight 是 normal
.site-title {
  font-weight: bold;
}
.post-block .post-title {
  font-weight: bold;
}

// 自定一个主题色相近的代码高亮风格
@media (prefers-color-scheme:dark) {
    .shiki,
    .shiki span {
        color: var(--shiki-dark) !important;
        background-color: var(--highlight-background) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important
    }
}